.mide-page .mide-content-view h1, h2{color:#6ACCCC;}
.mide-page .mide-content-view p{color:#5B5B5F;}
/*bacground del sitio*/
.mide-page .main_container {
	background: url('http://52.37.84.217/edu-mide/images/midebodybg.jpg') repeat;
}
.mide-page .panels-flexible-region-49-center{
	width: 100%;
}
.mide-page .section_content{
	-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
}
.mide-page .section_content{background-color:#FFFFFF;}
/*menú segundario*/
.mide-page .mide-second-menu{margin:0px;}
.mide-page .mide-second-menu-op1 a,.mide-page .mide-second-menu-op2 a{
	display:block;
	height:142.5px;
	width:100%;
	cursor:pointer;
}
.mide-page .mide-second-menu-op3 a,.mide-page .mide-second-menu-op4 a{
	display:block;
	height:87.5px;
	width:100%;
	cursor:pointer;
}
.mide-page .mide-second-menu > div {
	padding: 10px;
}
.mide-page .mide-second-menu-op1 a,.mide-page .mide-second-menu-op2 a,.mide-page .mide-second-menu-op3 a,.mide-page .mide-second-menu-op4 a{
	border: 1px solid #B7B8BC;
}
.mide-page .mide-second-menu-op1 a{background: url('http://52.37.84.217/edu-mide/images/midesubmenu1.png') no-repeat; border-right: 20px solid #5ABABB;}
.mide-page .mide-second-menu-op2 a{background: url('http://52.37.84.217/edu-mide/images/midesubmenu2.png') no-repeat; border-right: 20px solid #F35F64;}
.mide-page .mide-second-menu-op3 a{background: url('http://52.37.84.217/edu-mide/images/midesubmenu3.png') no-repeat; border-right: 20px solid #F4A558;}
.mide-page .mide-second-menu-op4 a{background: url('http://52.37.84.217/edu-mide/images/midesubmenu4.png') no-repeat; border-right: 20px solid #459F88;}
.mide-page .mide-second-menu-op1 .disable, .mide-page .mide-second-menu-op2 .disable, .mide-page .mide-second-menu-op3 .disable, .mide-page .mide-second-menu-op4 .disable {background-color:#CFD0D3; border-right: 25px solid #A4A6AC;}
.mide-page .mide-second-menu-op1 .disable, .mide-page .mide-second-menu-op2 .disable {background-position: 0 -142px;}
.mide-page .mide-second-menu-op3 .disable, .mide-page .mide-second-menu-op4 .disable {background-position: 0 -87px;}
.mide-page .mide-second-menu-op1 a:hover{background-color: rgba(90,186,187,0.1);}
.mide-page .mide-second-menu-op2 a:hover{background-color: rgba(243,95,100,0.1);}
.mide-page .mide-second-menu-op3 a:hover{background-color: rgba(244,165,88,0.1);}
/**/
.mide-page .mide-header-logo{
    height: 80px;
    background: url('http://aprende.colombiaaprende.edu.co/ckfinder/userfiles/images/mide-header-logo.png') no-repeat center;
    margin: 15px 0;
	cursor:pointer;
}
.mide-page .mide-banner{
	background: url('http://aprende.colombiaaprende.edu.co/ckfinder/userfiles/images/mide-banner-bg.jpg') no-repeat top left;
	/*height:120px;*/
}
.mide-page .section_container.no_left_sidebar .section_content {
	background: white !important;
}
.mide-page .mide-slogan{
	padding: 30px 10px 10px 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
	color:#564577;
}
.mide-page .mide-page-banner span{
	display:none;
  background-color: #FFFFFF;
}
.mide-page #microsite_panel .pane-content > .menu li.parent_menu > a{
  display: block;
  padding: 10px 10px 10px 10px;
  border-right: 0px;
  color:#727176;
  border-bottom: 4px solid #ea7474;
  text-decoration:none;
  font-size: 13px;
  -webkit-transition: background 100ms ease-in;
  -moz-transition: background 100ms ease-in;
  -ms-transition: background 100ms ease-in;
  -o-transition: background 100ms ease-in;
  transition: background 100ms ease-in;
}
.mide-page #microsite_panel .pane-content > .menu li.parent_menu > a:hover{
  background-color: #ea7474;
  color:#ffffff;
}
.mide-page #microsite_panel .pane-content > .menu{
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
.mide-page #microsite_panel .pane-content > .menu li.parent_menu{
  width: 21%;
}
.mide-page #microsite_panel .pane-content > .menu li.parent_menu:first-child{
  width: 22%;
}
.mide-page #microsite_panel .pane-content > .menu li.parent_menu:last-child{
  width: 15%
}
.mide-page .title{
  display:none;
}
.mide-page .breadcrumb{
  margin-bottom: 0px;
	height: 30px;
	line-height: 31px;
	margin-left: 0px;
}
.mide-page .parent_menu .active {
  background-color: #ea7474;
  color: #fff !important;
}
.mide-page .panels-flexible-region {
  background: white;
}
.mide-page .mide-content-view, .mide-page .socializations-view,
.mide-page .faq-mide-accordion, .mide-page .socializations-content {
	padding: 0 15px 15px;
}
.mide-page .socializations-view .view-content > div {
  width: 100%;
  float: left;
  padding: 15px;
  background: #EFEFF0;
  margin: 1%;
  border-radius: 15px;
  height: 310px;
}
.mide-page .socializations-view .views-field-field-imagen-del-articulo > div {
  width: 50%;
  float: left;
	font-weight: 500;
}
.mide-page .socializations-view .views-field-created span,
.mide-page .socializations-view .views-field-title span {
  color: #5A4378;
  width: 47%;
}
.mide-page .socializations-view .views-field-title span {
  float: right;
}
.mide-page .socializations-view .views-field-created span {
  width: 100%;
  padding: 0 0 5px 53%;
  display: block;
}
.mide-page .socializations-view .views-field-body p {
  float: left;
  margin: 10px 0 !important;
  overflow-y: scroll;
  height: 100px;
}
.mide-page .socializations-view .views-field-body p a {
  display: block;
  text-align: right;
  color: #5A4378;
  text-decoration: underline;
  font-size: 18px;
}
.mide-page .socializations-view .views-field-title span {
	font-size: 20px;
	font-weight: bold;
}
.mide-page .socializations-content .views-field-title {
	color: #5A5A5E;
	font-size: 30px;
	font-weight: 600;
	margin: 10px 0;
	line-height: 1.2;
}
.mide-page .socializations-content .views-field-created span {
	color: #5A4378;
	font-weight: 500;
	background: url('../images/clock-icon.png') no-repeat 0% center / contain;
	padding: 0 0 0 25px;
}
.mide-page .socializations-content .views-field-field-imagen-del-articulo > div {
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
	background: black;
	height: 270px;
	display: flex;
  align-items: center;
}
.mide-page .socializations-content .views-field-field-imagen-del-articulo img {
	width: 100%;
}
.mide-page .faq-mide-accordion a {
  text-align: left;
}
.mide-page .faq-mide-accordion .ui-state-active a {
  color: black;
  background-color: #E9E9E9;
  font-weight: bold;
}
.mide-page .contact-view {
  background: #EFEFF0;
  border-radius: 10px;
}
.mide-page .contact-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.mide-page .contact-logo {
  background: url('../images/contact-logo.png') no-repeat center center / contain;
  height: 180px;
  margin: 30px 0;
}
.mide-page .email-contact-icon,
.mide-page .phone-contact-icon {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
}
.mide-page .email-contact-icon {
  background: url('../images/email-contact-icon.png') no-repeat center center / contain;
}
.mide-page .phone-contact-icon {
  background: url('../images/phone-contact-icon.png') no-repeat center center / contain;
}
.mide-page .contact-view b {
  margin: 0 0 0 15px;
}
.mide-page .section_content i {
	cursor: default;
}
@media (min-width: 768px) {
  .mide-page .contact-view {
    display: flex;
    align-items: center;
  }
  .mide-page .socializations-view .view-content > div {
    width: 48%;
  }
}
@media (max-width: 767px) {
.mide-page .socializations-view .view-content > div,
.mide-page .socializations-view .views-field-body p {
	height: auto;
}
}

@media (min-width: 992px) {
	.mide-page .mide-second-menu > div:nth-child(even) {
		margin-left: -2px;
	}
	.mide-page .mide-second-menu > div:last-child,
	.mide-page .mide-second-menu > div:nth-last-child(2){
		margin-top: -2px;
	}
}
@media (max-width: 992px) {
	.mide-page .mide-second-menu > div:not(:first-child) {
		margin-top: -2px;
	}
}

@media (max-width: 955px) {
  .mide-page #microsite_panel .pane-content > .menu li.parent_menu {
    width: 100% !important;
  }
	.mide-page .socializations-content .views-field-field-imagen-del-articulo > div {
	height: 25vw;
	}
}
@media (min-width: 956px) {
	.mide-page .socializations-view .view-content > div {
		height: 270px;
	}
}
@media (max-width: 1024px) {
	.mide-page .section_container.no_left_sidebar .section_content {
		 width: 100% !important;
		 margin: 0 !important;
		 padding: 0 3% !important;
	}
}
@media (min-width: 1024px) {
	.mide-page .section_content{
		width: 1024px;
	}
}
