.mide-page .form-horizontal,.mide-page .form-group,.mide-page .row{
	margin-right: 0px;
	margin-left: 0px;
}
.mide-page .oter-filters #btnSearch{
	margin-top: 25px;
}
.mide-page .search-filters {
	background-color: #EFEFF1;
	padding: 0px 0px 4px 0px;
	margin-bottom: 10px;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
}
.mide-page .search-filters h5{
	padding-left: 10px;
	font-weight: bold;
}
.mide-page .search-filters label{
  font-weight: normal;
}
.mide-page .search-filters .btn{
	padding: 6px 40px;
	color: #ffffff;
	background-color: #53B7B7;
	border: solid 1px #5D8A8B;
}
.mide-page .search-filters .btn:hover{
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
	background-color: #308484;
}
.mide-page .table thead{
	background-color:#C5C5C5;
	color: #ffffff;
}
.mide-page .table thead td{background-color:#C5C5C5;}
.mide-page .table thead td input{width: 100%;}
.mide-page .table thead th{
	color: #ffffff;
	text-shadow:rgba(255,255,255,0) 1px 1px 0;
}
.mide-page .table thead tr:first-child{
	background-color:#727176;
}
.mide-page .table thead tr th:first-child{
	border-radius: 8px 0px 0px 0px;
	-moz-border-radius: 8px 0px 0px 0px;
	-webkit-border-radius: 8px 0px 0px 0px;
}
.mide-page .table thead tr th:last-child{
	border-radius: 0px 8px 0px 0px;
	-moz-border-radius: 0px 8px 0px 0px;
	-webkit-border-radius: 0px 8px 0px 0px;
}
.mide-page .table tr:nth-child(odd){
	background-color: #E3E3E3;
}
.mide-page .table tbody td{
	border-right: 1px solid #898989;
}
.mide-page .table td:last-child{
	border-right:none;
}
/*acordion*/
.mide-page .valor-filter #accordion{
	display: inline-block;
	margin:35px 30px 30px 20px;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
.mide-page .valor-filter #accordion input {
	display: none;
}
.mide-page .valor-filter #accordion label {
	background: #eee;
	cursor: pointer;
	display: block;
	margin-bottom: 4px;
	padding: 10px 12px;
	z-index: 20;
	border: solid 1px #8E8E8E;
}
.mide-page .valor-filter #accordion div:last-child label {
	margin-bottom: 0px;
}
.mide-page .valor-filter #accordion label:hover {
	background: #ccc;
}
.mide-page .valor-filter #accordion input:checked + label {
	background: #ccc;
	/*color: #ffffff;*/
	margin-bottom: 0;
}
.mide-page .valor-filter #accordion article {
	background: #f7f7f7;
	height:0px;
	overflow:hidden;
	z-index:10;
	-webkit-transition: height 200ms ease-out;
	-moz-transition: height 200ms ease-out;
	-ms-transition: height 200ms ease-out;
	-o-transition: height 200ms ease-out;
	transition: height 200ms ease-out;
}
.mide-page .valor-filter #accordion article p {
	font-weight: normal;
	padding:8px;
}
.mide-page .valor-filter #accordion input:checked article {}
.mide-page .valor-filter #accordion input:checked ~ article {
	-webkit-transition: height 500ms ease-out;
	-moz-transition: height 500ms ease-out;
	-ms-transition: height 500ms ease-out;
	-o-transition: height 500ms ease-out;
	transition: height 500ms ease-out;
	height: 120px;
}
