.mide-page .form-horizontal,.mide-page .form-group,.mide-page .row{
	margin-right: 0px;
	margin-left: 0px;
}
.mide-page .oter-filters #btnSearch{
	margin-top: 25px;
}
.mide-page .search-filters {
	background-color: #EFEFF1;
	padding: 10px 0 10px 0px;
	margin-bottom: 10px;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
}
.mide-page .search-filters h5{
	padding-left: 10px;
	font-weight: bold;
}
.mide-page .search-filters label{
  font-weight: normal;
}
.mide-page .search-filters .btn{
padding: 6px 40px;
color: #ffffff;
background-color: #53B7B7;
border: solid 1px #5D8A8B;
}
